In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn import metrics

In [2]:
df = pd.read_csv('Train.csv')
sample_submission = pd.read_csv('SampleSubmission.csv')

In [3]:
df.head()

,country,year,uniqueid,bank_account,location_type,cellphone_access,household_size,age_of_respondent,gender_of_respondent,relationship_with_head,marital_status,education_level,job_type
0,Kenya,2018,uniqueid_1,Yes,Rural,Yes,3,24,Female,Spouse,Married/Living together,Secondary education,Self employed
1,Kenya,2018,uniqueid_2,No,Rural,No,5,70,Female,Head of Household,Widowed,No formal education,Government Dependent
2,Kenya,2018,uniqueid_3,Yes,Urban,Yes,5,26,Male,Other relative,Single/Never Married,Vocational/Specialised training,Self employed
3,Kenya,2018,uniqueid_4,No,Rural,Yes,5,34,Female,Head of Household,Married/Living together,Primary education,Formally employed Private
4,Kenya,2018,uniqueid_5,No,Urban,No,8,26,Male,Child,Single/Never Married,Primary education,Informally employed

In [4]:
label = LabelEncoder()
label.fit(df.bank_account.drop_duplicates())
df.bank_account = label.transform(df.bank_account)

label.fit(df.location_type.drop_duplicates())
df.location_type = label.transform(df.location_type)

label.fit(df.cellphone_access.drop_duplicates())
df.cellphone_access = label.transform(df.cellphone_access)

label.fit(df.gender_of_respondent.drop_duplicates())
df.gender_of_respondent = label.transform(df.gender_of_respondent)

label.fit(df.marital_status.drop_duplicates())
df.marital_status = label.transform(df.marital_status)

df.head()

,country,year,uniqueid,bank_account,location_type,cellphone_access,household_size,age_of_respondent,gender_of_respondent,relationship_with_head,marital_status,education_level,job_type
0,Kenya,2018,uniqueid_1,1,0,1,3,24,0,Spouse,2,Secondary education,Self employed
1,Kenya,2018,uniqueid_2,0,0,0,5,70,0,Head of Household,4,No formal education,Government Dependent
2,Kenya,2018,uniqueid_3,1,1,1,5,26,1,Other relative,3,Vocational/Specialised training,Self employed
3,Kenya,2018,uniqueid_4,0,0,1,5,34,0,Head of Household,2,Primary education,Formally employed Private
4,Kenya,2018,uniqueid_5,0,1,0,8,26,1,Child,3,Primary education,Informally employed

In [5]:
x = df.drop(['bank_account', 'country', 'uniqueid', 'relationship_with_head', 'education_level', 'job_type'], axis = 1)
y = df[['bank_account']]

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 40)

Logistic_regr = LogisticRegression()
Logistic_regr.fit(x_train, y_train)
pred = Logistic_regr.predict(x_test)
pred

C:\Users\user\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\user\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

array([0, 0, 0, ..., 0, 0, 0])

In [6]:
print(x_train.shape)

(16466, 7)

In [7]:
print(x_test.shape)

(7058, 7)

In [8]:
print(y_train.shape)

(16466, 1)

In [9]:
print(y_test.shape)

(7058, 1)

In [10]:
score = Logistic_regr.score(x_test, y_test)
score

0.8561915556814962

In [11]:
cm = metrics.confusion_matrix(y_test, pred)
cm

array([[6043,    0],
       [1015,    0]], dtype=int64)

In [13]:
sample_submission.head()

            unique_id  bank_account
0  uniqueid_1 x Kenya             0
1  uniqueid_2 x Kenya             0
2  uniqueid_3 x Kenya             0
3  uniqueid_4 x Kenya             0
4  uniqueid_5 x Kenya             0